.header {
    overflow: hidden;
    background-color: #05386b;
    padding: 1.25em 0.625em;
    top: 0;
    left: 0;
    width: 100%;
    margin: 0;
}

.header a {
    float: left;
    color: white;
    text-align: center;
    padding: 0.75em;
    text-decoration: none;
    font-size: 1em;
    line-height: 0.75em;
    border-radius: 0.25em;
}

.header img {
    width: 3.5em;
    float: left;
}

.header a.logo {
    font-size: 1.5em;
    line-height: 1em;
    font-weight: bold;
    text-align: center;
}

.header a.active {
    background: #5CDB95;
    color: white;
    font-weight: bold;
}

.header-right {
    float: right;
}

.header-right a {
    float: left;
    margin-top: 0.25em;
    margin-right: 0.125em;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    font-size: 1.25em;
    text-decoration: none;
}

.header-right a:hover {
    background: #6495ED;
}

@media screen and (max-width: 1000px) {
    .header img{
	display: block;
	float: none;
	margin: auto;
    }
    .header a {
	float: none;
	display: block;
	text-align: center;
    }

    .header-right {
	display: block;
	float: none;
	margin: auto;
	text-align: center;
    }
}
