.productModal img {
    display: block;
    margin: 2% auto;
    overflow: hidden;
    max-width: 90%;
    width: auto;
}

.productModal p {
    display: block;
    font-size: 1.25em;
    width: 100%;
}

#productModalDescriptionContents {
    display: block;
    text-align: justify;
    white-space: pre-line;
    width: 100%;
}

.productModal button {
    display: block;
    margin: auto;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    padding: 0.25em;
    font-size: 1.25em;
}






