.productModal img {
    display: block;
    margin: 5% auto;
    overflow: hidden;
    max-width: 90%;
    width: auto;
}

.productModal p {
    font-size: 1.5em;
}

.productModalName {
    display: block;
    text-align: center;
    font-weight: bold;
}






